eolympics/trunk/src/main/resources/schema.xml

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:hr="http://mycompany.com/hr/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://mycompany.com/hr/schemas">
        
    	
	<xs:element name="Country">
        <xs:complexType>
            <xs:all>
            		<xs:element name="name" type="xs:String"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Team">
        <xs:complexType>
            <xs:all>
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Event">
        <xs:complexType>
            <xs:all>
            		<xs:element name="gender" type="xs:Gender"/>	
            		<xs:element name="name" type="xs:String"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Athlete">
        <xs:complexType>
            <xs:all>
            		<xs:element name="firstName" type="xs:String"/>	
            		<xs:element name="lastName" type="xs:String"/>	
            		<xs:element name="dob" type="xs:Date"/>	
            		<xs:element name="gender" type="xs:Gender"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="EventInstance">
        <xs:complexType>
            <xs:all>
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Category">
        <xs:complexType>
            <xs:all>
            		<xs:element name="name" type="xs:String"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Tournament">
        <xs:complexType>
            <xs:all>
            		<xs:element name="name" type="xs:String"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="TeamEventInstance">
        <xs:complexType>
            <xs:all>
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Participation">
        <xs:complexType>
            <xs:all>
            		<xs:element name="rank" type="xs:Integer"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

    
    </xs:schema>
