kgauge/trunk/src/main/resources/xsd/feed.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
 <xs:annotation>
  -- This schema was automatically generated by Syntext Dtd2Schema --
  -- conversion tool (from file: C:\Documents and Settings\jesing\My Documents\feed\feed.dtd) --
  -- Copyright (C) 2002, 2003 Syntext Inc. See http://www.syntext.com for updates. --
 </xs:annotation>
 <xs:element name='feed'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='repository' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='name' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='item'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='property' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='id' use='required'/>
  <xs:attribute name='name' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='property'>
  <xs:complexType mixed='true'>
  <xs:attribute name='name' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='repository'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='item' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='name' use='required'/>
  <xs:attribute name='action' default='INSERT'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='INSERT'/>
     <xs:enumeration value='UPDATE'/>
     <xs:enumeration value='DELETE'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
</xs:schema>
