bestfitweb/src/main/resources/schema.xml

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:hr="http://mycompany.com/hr/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://mycompany.com/hr/schemas">
        
    	
	<xs:element name="Customer">
        <xs:complexType>
            <xs:all>
            		<xs:element name="firstName" type="xs:String"/>	
            		<xs:element name="lastName" type="xs:String"/>	
            		<xs:element name="dob" type="xs:java.util.Date"/>	
            		<xs:element name="age" type="xs:int"/>	
            		<xs:element name="remarks" type="xs:String"/>	
            		<xs:element name="username" type="xs:String"/>	
            		<xs:element name="password" type="xs:String"/>	
            		<xs:element name="enabled" type="xs:boolean"/>	
            		<xs:element name="streetAddress" type="xs:String"/>	
            		<xs:element name="city" type="xs:String"/>	
            		<xs:element name="zip" type="xs:String"/>	
            		<xs:element name="email" type="xs:String"/>	
            		<xs:element name="country" type="xs:String"/>	
            		<xs:element name="state" type="xs:String"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Employee">
        <xs:complexType>
            <xs:all>
            		<xs:element name="firstName" type="xs:String"/>	
            		<xs:element name="lastName" type="xs:String"/>	
            		<xs:element name="dob" type="xs:java.util.Date"/>	
            		<xs:element name="age" type="xs:int"/>	
            		<xs:element name="code" type="xs:int"/>	
            		<xs:element name="username" type="xs:String"/>	
            		<xs:element name="password" type="xs:String"/>	
            		<xs:element name="enabled" type="xs:boolean"/>	
            		<xs:element name="streetAddress" type="xs:String"/>	
            		<xs:element name="city" type="xs:String"/>	
            		<xs:element name="zip" type="xs:String"/>	
            		<xs:element name="email" type="xs:String"/>	
            		<xs:element name="country" type="xs:String"/>	
            		<xs:element name="state" type="xs:String"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="PlacedOrder">
        <xs:complexType>
            <xs:all>
            		<xs:element name="remarks" type="xs:String"/>	
            		<xs:element name="paymentMethod" type="xs:String"/>	
            		<xs:element name="status" type="xs:OrderStatus"/>	
            		<xs:element name="total" type="xs:double"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Product">
        <xs:complexType>
            <xs:all>
            		<xs:element name="name" type="xs:String"/>	
            		<xs:element name="brand" type="xs:String"/>	
            		<xs:element name="listPrice" type="xs:double"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="OrderItem">
        <xs:complexType>
            <xs:all>
            		<xs:element name="salePrice" type="xs:double"/>	
            		<xs:element name="quantity" type="xs:int"/>	
            		<xs:element name="total" type="xs:double"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="RegisteredUser">
        <xs:complexType>
            <xs:all>
            		<xs:element name="firstName" type="xs:String"/>	
            		<xs:element name="lastName" type="xs:String"/>	
            		<xs:element name="dob" type="xs:java.util.Date"/>	
            		<xs:element name="age" type="xs:int"/>	
            		<xs:element name="gender" type="xs:String"/>	
            		<xs:element name="image" type="xs:String"/>	
            		<xs:element name="username" type="xs:String"/>	
            		<xs:element name="password" type="xs:String"/>	
            		<xs:element name="enabled" type="xs:boolean"/>	
            		<xs:element name="streetAddress" type="xs:String"/>	
            		<xs:element name="city" type="xs:String"/>	
            		<xs:element name="zip" type="xs:String"/>	
            		<xs:element name="email" type="xs:String"/>	
            		<xs:element name="country" type="xs:String"/>	
            		<xs:element name="state" type="xs:String"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="User">
        <xs:complexType>
            <xs:all>
            		<xs:element name="username" type="xs:String"/>	
            		<xs:element name="password" type="xs:String"/>	
            		<xs:element name="enabled" type="xs:boolean"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Authority">
        <xs:complexType>
            <xs:all>
            		<xs:element name="authority" type="xs:String"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Topic">
        <xs:complexType>
            <xs:all>
            		<xs:element name="name" type="xs:String"/>	
            		<xs:element name="expiry" type="xs:Date"/>	
            		<xs:element name="status" type="xs:Status"/>	
            		<xs:element name="topicType" type="xs:TopicType"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Category">
        <xs:complexType>
            <xs:all>
            		<xs:element name="name" type="xs:String"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Comment">
        <xs:complexType>
            <xs:all>
            		<xs:element name="text" type="xs:String"/>	
            		<xs:element name="userDisplayName" type="xs:String"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

    
    </xs:schema>
