samples/jshoppingcart/trunk/src/main/resources/schema.xml

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:hr="http://mycompany.com/hr/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://mycompany.com/hr/schemas">
        
    	
	<xs:element name="Customer">
        <xs:complexType>
            <xs:all>
            		<xs:element name="firstName" type="xs:String"/>	
            		<xs:element name="lastName" type="xs:String"/>	
            		<xs:element name="remarks" type="xs:String"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

	<xs:element name="Employee">
        <xs:complexType>
            <xs:all>
            		<xs:element name="firstName" type="xs:String"/>	
            		<xs:element name="lastName" type="xs:String"/>	
            		<xs:element name="empCode" type="xs:Integer"/>	
            	
            </xs:all>
        </xs:complexType>
    </xs:element>

    
    </xs:schema>
