employee2/src/main/resources/schema.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:ws="http://mycompany.com/hr/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://mycompany.com/hr/schemas">
        
        <!--
    	
    <xs:complexType name="Employee">
        <xs:all>
        		<xs:element name="firstName" type="xs:string"/>	
        		<xs:element name="lastName" type="xs:string"/>	
        	
        	
        </xs:all>
    </xs:complexType>

    	-->
    	
    </xs:schema>
